$hero: #f72585;
$nav: #7209b7;
$button: #480ca8;

// others
$other1: #b5179e;
$other2: #560bad;

$other4: #3a0ca3;
$other5: #3f37c9;
$other6: #4361EE;
$other7: #4895EF;
$other8: #4CC9F0; 

@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&effect=neon&display=swap');
