#hero-drink{
  z-index: 2;
  font-family: 'Neonderthaw', cursive;
  border: 5px solid white; 
  border-radius: 20px;
  padding: 0 10px 0px 10px;
  margin-bottom: 10px;
  box-shadow: 
    0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 1.5rem #ff5f1f,
    0 0 0.8rem #ff5f1f,
    0 0 2.8rem #ff5f1f,
    inset 0 0 1.3rem #ff5f1f;
  h1{
    font-size: 6vw;
    color: #fff;
    text-shadow: 0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #b026ff,
      0 0 82px #b026ff,
      0 0 92px #b026ff,
      0 0 102px #b026ff,
      0 0 151px #b026ff,
  }
}

#spacing-div{
  height: 300px;
}

.ind-drink-container{
  position: absolute;
  bottom: -5em;
}

.ind-drink-img{
  height: 45rem;
  width: 40vw;
  object-fit: contain;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
}

#bar-edge-div{
  height: 50px;
  background-color: #45000e;
  background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
}

#price-info{
  height: 15rem;
  background-color: white;
  border: 3px solid lightgrey;
  box-shadow: 0 0 1rem 0.1rem grey;
  border-radius: 10px;
  bottom: 2em;
  padding: 0.8em;
}

#progress-label{
  font-size: 16px;
  line-height: 15px;
}

#progress-footer{
  font-size: 0.75rem;
}

#bid-0, #bid-1, #offer-1, #offer-2 {
  background: lightgrey;
  color: #555555;
}

#price-name{
  font-size: 1.3rem;
  line-height: 1;
}