#hero-sign{
  z-index: 2;
  font-family: 'Neonderthaw', cursive;
  border: 5px solid white; 
  border-radius: 20px;
  padding: 0 10px 0px 10px;
  margin-bottom: 10px;
  box-shadow: 
    0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 1.5rem #bc13fe,
    0 0 0.8rem #bc13fe,
    0 0 2.8rem #bc13fe,
    inset 0 0 1.3rem #bc13fe;
  h1{
    font-size: 6vw;
    color: #fff;
    text-shadow: 0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #0fa,
      0 0 82px #0fa,
      0 0 92px #0fa,
      0 0 102px #0fa,
      0 0 151px #0fa;
  }
}

#hero-bar{
  background-image: url('https://i.imgur.com/5Qs0Ok1.png');
  height: 350px;
  width: 4800px;
  animation: slide 120s linear infinite;
}

#hero-bar-container{
  overflow:hidden;
}

#home-container{
  background-image: url('https://i.imgur.com/pO1FMqh.jpg');
  height: 100vh;
}

#hero-bar-top{
  background-image: url('https://i.imgur.com/eYHXuw5.png');
  background-repeat: no-repeat;
  height: 137px;
  background-size: cover;
  position: relative;
}

.drink-name{
  font-size: 20px;
}

.drink-container{
  position: absolute;
  bottom: 1rem;
}

// .drink-img-container{
//   position: absolute;
// }

.drink-img{
  height: 30rem;
  width: 100%; // change to rem
  object-fit: contain;
  cursor: pointer;
}

.number-units{
  font-size: 10px;
}

#img-1{
  transform: scale(0.7) translate(0, 7rem);
}

// #img-2{
// }


#img-3{
  transform: translate(0, 0.5rem);
}

@keyframes slide {
  0% {
    transform: translate3d(0,0, 0);
  }
  100% {
    transform: translate3d(-1600px,0,0);
  }
}

