.form-background{
  background-image: url('https://i.imgur.com/pO1FMqh.jpg');
  height: 100vh;
}

.form-container{
  border: 5px solid white; // pink.500
  background-color: white;
  border-radius: 30px;
  animation: neon 2s ease-in-out infinite alternate;
  box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 1.5rem #bc13fe,
              0 0 0.8rem #bc13fe,
              0 0 2.8rem #bc13fe,
              inset 0 0 1.3rem #bc13fe;
}

@keyframes neon {
  // 0% {
  //   box-shadow: 
  //   0 0 .2rem #fff,
  //   0 0 .2rem #fff,
  // }
  0% {
      box-shadow:  
      0 0 .2rem #fff,
      0 0 .2rem #fff,
      0 0 1.5rem #bc13fe,
      0 0 0.8rem #bc13fe,
      inset 0 0 1.3rem #bc13fe;
  }
  100% {
      box-shadow: 
      0 0 .2rem #fff,
      0 0 1.5rem #bc13fe,
      0 0 0.8rem #bc13fe,
      0 0 1.8rem #bc13fe,
      inset 0 0 1.8rem #bc13fe;
  }
}