@import url("https://fonts.googleapis.com/css2?family=Neonderthaw&effect=neon&display=swap");
#nav-container {
  color: white;
  outline: 5px solid white;
  -webkit-box-shadow: inset 0 -0.1rem .2rem #fff, inset 0 -1rem 1.5rem -0.2rem #bc13fe;
          box-shadow: inset 0 -0.1rem .2rem #fff, inset 0 -1rem 1.5rem -0.2rem #bc13fe;
}

.nav-button:hover {
  color: black;
}

.nav-logout {
  margin-right: 20px;
}

#logo-img {
  height: 70px;
  width: 100%;
}

.form-background {
  background-image: url("https://i.imgur.com/pO1FMqh.jpg");
  height: 100vh;
}

.form-container {
  border: 5px solid white;
  background-color: white;
  border-radius: 30px;
  -webkit-animation: neon 2s ease-in-out infinite alternate;
          animation: neon 2s ease-in-out infinite alternate;
  -webkit-box-shadow: 0 0 .2rem #fff, 0 0 .2rem #fff, 0 0 1.5rem #bc13fe, 0 0 0.8rem #bc13fe, 0 0 2.8rem #bc13fe, inset 0 0 1.3rem #bc13fe;
          box-shadow: 0 0 .2rem #fff, 0 0 .2rem #fff, 0 0 1.5rem #bc13fe, 0 0 0.8rem #bc13fe, 0 0 2.8rem #bc13fe, inset 0 0 1.3rem #bc13fe;
}

@-webkit-keyframes neon {
  0% {
    -webkit-box-shadow: 0 0 .2rem #fff, 0 0 .2rem #fff, 0 0 1.5rem #bc13fe, 0 0 0.8rem #bc13fe, inset 0 0 1.3rem #bc13fe;
            box-shadow: 0 0 .2rem #fff, 0 0 .2rem #fff, 0 0 1.5rem #bc13fe, 0 0 0.8rem #bc13fe, inset 0 0 1.3rem #bc13fe;
  }
  100% {
    -webkit-box-shadow: 0 0 .2rem #fff, 0 0 1.5rem #bc13fe, 0 0 0.8rem #bc13fe, 0 0 1.8rem #bc13fe, inset 0 0 1.8rem #bc13fe;
            box-shadow: 0 0 .2rem #fff, 0 0 1.5rem #bc13fe, 0 0 0.8rem #bc13fe, 0 0 1.8rem #bc13fe, inset 0 0 1.8rem #bc13fe;
  }
}

@keyframes neon {
  0% {
    -webkit-box-shadow: 0 0 .2rem #fff, 0 0 .2rem #fff, 0 0 1.5rem #bc13fe, 0 0 0.8rem #bc13fe, inset 0 0 1.3rem #bc13fe;
            box-shadow: 0 0 .2rem #fff, 0 0 .2rem #fff, 0 0 1.5rem #bc13fe, 0 0 0.8rem #bc13fe, inset 0 0 1.3rem #bc13fe;
  }
  100% {
    -webkit-box-shadow: 0 0 .2rem #fff, 0 0 1.5rem #bc13fe, 0 0 0.8rem #bc13fe, 0 0 1.8rem #bc13fe, inset 0 0 1.8rem #bc13fe;
            box-shadow: 0 0 .2rem #fff, 0 0 1.5rem #bc13fe, 0 0 0.8rem #bc13fe, 0 0 1.8rem #bc13fe, inset 0 0 1.8rem #bc13fe;
  }
}

#hero-sign {
  z-index: 2;
  font-family: 'Neonderthaw', cursive;
  border: 5px solid white;
  border-radius: 20px;
  padding: 0 10px 0px 10px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 0 .2rem #fff, 0 0 .2rem #fff, 0 0 1.5rem #bc13fe, 0 0 0.8rem #bc13fe, 0 0 2.8rem #bc13fe, inset 0 0 1.3rem #bc13fe;
          box-shadow: 0 0 .2rem #fff, 0 0 .2rem #fff, 0 0 1.5rem #bc13fe, 0 0 0.8rem #bc13fe, 0 0 2.8rem #bc13fe, inset 0 0 1.3rem #bc13fe;
}

#hero-sign h1 {
  font-size: 6vw;
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa, 0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
}

#hero-bar {
  background-image: url("https://i.imgur.com/5Qs0Ok1.png");
  height: 350px;
  width: 4800px;
  -webkit-animation: slide 120s linear infinite;
          animation: slide 120s linear infinite;
}

#hero-bar-container {
  overflow: hidden;
}

#home-container {
  background-image: url("https://i.imgur.com/pO1FMqh.jpg");
  height: 100vh;
}

#hero-bar-top {
  background-image: url("https://i.imgur.com/eYHXuw5.png");
  background-repeat: no-repeat;
  height: 137px;
  background-size: cover;
  position: relative;
}

.drink-name {
  font-size: 20px;
}

.drink-container {
  position: absolute;
  bottom: 5vh;
}

.drink-img {
  height: 50vh;
  width: 50vw;
  -o-object-fit: contain;
     object-fit: contain;
  cursor: pointer;
}

.number-units {
  font-size: 10px;
}

#img-1 {
  -webkit-transform: scale(0.7) translate(0, 9vh);
          transform: scale(0.7) translate(0, 9vh);
}

#img-3 {
  -webkit-transform: translate(0, 25px);
          transform: translate(0, 25px);
}

@-webkit-keyframes slide {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-1600px, 0, 0);
            transform: translate3d(-1600px, 0, 0);
  }
}

@keyframes slide {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-1600px, 0, 0);
            transform: translate3d(-1600px, 0, 0);
  }
}

#hero-drink {
  z-index: 2;
  font-family: 'Neonderthaw', cursive;
  border: 5px solid white;
  border-radius: 20px;
  padding: 0 10px 0px 10px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 0 .2rem #fff, 0 0 .2rem #fff, 0 0 1.5rem #ff5f1f, 0 0 0.8rem #ff5f1f, 0 0 2.8rem #ff5f1f, inset 0 0 1.3rem #ff5f1f;
          box-shadow: 0 0 .2rem #fff, 0 0 .2rem #fff, 0 0 1.5rem #ff5f1f, 0 0 0.8rem #ff5f1f, 0 0 2.8rem #ff5f1f, inset 0 0 1.3rem #ff5f1f;
}

#hero-drink h1 {
  font-size: 6vw;
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #b026ff, 0 0 82px #b026ff, 0 0 92px #b026ff, 0 0 102px #b026ff, 0 0 151px #b026ff;
}

#spacing-div {
  height: 300px;
}

.ind-drink-container {
  position: absolute;
  bottom: -5em;
}

.ind-drink-img {
  height: 45rem;
  width: 40vw;
  -o-object-fit: contain;
     object-fit: contain;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
}

#bar-edge-div {
  height: 50px;
  background-color: #45000e;
  background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
}

#price-info {
  height: 15rem;
  background-color: white;
  border: 3px solid lightgrey;
  -webkit-box-shadow: 0 0 1rem 0.1rem grey;
          box-shadow: 0 0 1rem 0.1rem grey;
  border-radius: 10px;
  bottom: 2em;
  padding: 0.8em;
}

#progress-label {
  font-size: 16px;
  line-height: 15px;
}

#progress-footer {
  font-size: 0.75rem;
}

#bid-0, #bid-1, #offer-1, #offer-2 {
  background: lightgrey;
  color: #555555;
}

#price-name {
  font-size: 1.3rem;
  line-height: 1;
}

#trade-type-sell {
  color: #D53F8C;
  font-size: 2rem;
}

#trade-type-buy {
  color: #3182CE;
  font-size: 2rem;
}

#balance-title {
  font-size: 1.8rem;
  color: #805AD5;
}

.user-info {
  background-color: #EDF2F7;
  padding: 0.8em;
  border: 1px solid #CBD5E0;
  border-radius: 0.5em;
}

#drink-text {
  color: #DD6B20;
  font-size: 1.5rem;
}

.balance-text {
  font-size: 0.8rem;
}

.balance-figure {
  font-size: 1.5rem;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=main.css.map */